#main-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewUser{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color:#E88EED;
    border-radius: 25px; 
    color:white;
    height: 30px;
    width: 140px;
}
